[core]
	eol = lf
	editor = nvim
[user]
	name = Samuel Chen
	email = samuel.chen@akunacapital.com
[alias]
	a = add
	st = status
	ci = commit
	br = branch
	co = checkout
	fcom = !git fetch && git checkout master
	com = checkout master
	fe = fetch --prune origin 
	bn = !git for-each-ref --format='%(refname:short)' `git symbolic-ref HEAD`
	rb = rebase
	rbm = rebase master
	pr = !sh -c 'BRANCH_NAME=$(git bn) && git co $0 && git fe && git merge --ff-only origin/$0 && git co $BRANCH_NAME && git rb $0'
	pmr = !git pr master
	who = shortlog -s --
	hr = reset --hard
	hrh = reset --hard HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	rbc = rebase --continue
	rba = rebase --abort
	mt = mergetool
	un = reset HEAD $1
	stage = add -A
	ff = !bash -c 'BRANCH_NAME=$(git bn) && git merge --ff-only origin/$BRANCH_NAME'
	ec = config --global -e
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	cob = checkout -b
	rbi = "!f(){ git rb -i HEAD~${1}; }; f"	
	rbs = "!f(){ git rb $(git branch | fzf); }; f"	
	cos = "!f(){ git checkout $(git branch | fzf); }; f"
	dbs = "!f(){ git branch -D $(git branch | fzf); }; f"
	lbr = "!f(){ git branch | grep $1; }; f"
	dbr = "!f(){ git branch -D $(git branch | grep $1); }; f"
	ac = !git add -A && git commit -m
	cm = !git commit -m
	save = !git add -A && git commit -m 'SAVEPOINT'
	wip = !git add -u && git commit -m 'wip: wip' --no-verify
	undo = reset HEAD~1 --mixed
	e = commit --amend
	fam = commit --amend --no-edit
	rs = "!f() { git checkout origin/master $(git ls-files -m -d --exclude-standard | fzf); }; f"
	wipe = !git add -A && git commit -qm 'wip: WIPE SAVEPOINT' && git reset HEAD~1 --hard
	bclean = "!f() { git branch --merged ${1-master} | grep -v ${1-master}$ | xargs -r git branch -d; }; f"
	bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
	p = push origin HEAD
	P = push --set-upstream origin HEAD
	pf = push origin HEAD --force-with-lease
	ppp = !git commit -a --amend --no-edit && git push --force-with-lease
	pl = pull 
	# ins = "!f(){ git diff ${1}~ ${1}; }; f"
	# ins = "!f() { git diff ${1}~1 ${1} --name-only --relative | fzf -m --ansi  }; f"
	# ins = "!gi() { if [ -z "$2" ]; then; local readonly start=$1^; local readonly end=$1; else; local readonly start=$1; local readonly end=$2; fi; git diff $start..$end --name-only --relative | fzf -m --ansi --preview "git diff --color=always $start:{} $end:{} || git diff $start --color=always -- {}"; }; gi"
	who = shortlog -s --
	af = !git add $(git ls-files -m -d -o --exclude-standard | fzf -m --print0)
	nd = "!f() { git checkout ${1-master} && git pull && git bclean ${1-master}; }; f"
	refresh = !git checkout main && git pull upstream main && git push --force # gitlab refresh	
	sh = !git stash
	shp = !git stash pop


[push]
	default=current
[pull]
    rebase = true
[diff]
	tool = vimdiff
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[credential]
	helper = store
[difftool]
	prompt = false
