" Basic settings
set smartcase
set ignorecase
set relativenumber
set clipboard+=unnamed
let mapleader=" "

" Insert mode mappings
inoremap kj <Esc>

" Normal mode mappings
" Navigation and actions
nnoremap gd :action GotoDeclaration<CR>
nnoremap gh :action QuickJavaDoc<CR>
nnoremap gr :action FindUsages<CR>
nnoremap <leader>. :action ShowIntentionActions<CR>
nnoremap <leader>d :action GotoNextError<CR>
nnoremap <leader>D :action GotoPreviousError<CR>

" File operations
nnoremap <leader>w :w<CR>
nnoremap <leader>W :w<CR>:q<CR>
nnoremap <leader>q :q<CR>
nnoremap <leader>Q :q!<CR>
nnoremap <leader>r :e!<CR>

" Window splits
nnoremap <leader>sv :vsplit<CR>
nnoremap <leader>sh :split<CR>
nnoremap <leader>sd :q<CR>

" File navigation
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fs :action FindInPath<CR>
nnoremap <leader>fo :action RecentFiles<CR>

" Editor navigation
nnoremap J :action PreviousTab<CR>
nnoremap K :action NextTab<CR>

" Explorer and sidebar
nnoremap <leader>e :action SelectInProjectView<CR>
nnoremap <leader>E :action ToggleProjectView<CR>

" Code actions
nnoremap <leader>rn :action RenameElement<CR>

" Hacks
" nmap u :action Undo<CR>
" nmap <C-r> :action Redo<CR>

" Pane navigation with Ctrl+h/j/k/l
" 1. Move focus between editor and console (and other panes)
nnoremap <C-h> :action ActivateLeftWindow<CR>
nnoremap <C-j> :action ActivateDownWindow<CR>
nnoremap <C-k> :action ActivateUpWindow<CR>
nnoremap <C-l> :action ActivateRightWindow<CR>

" 2. Move focus between vertical/horizontal editor splits
" (The above mappings will also work for editor splits in most JetBrains IDEs)

" 3. Move focus from editor/console to other panes (e.g., Project, Terminal, etc.)
" Example: <leader>1 for Project, <leader>4 for Run, <leader>9 for Terminal
nnoremap <leader>1 :action ActivateProjectToolWindow<CR>
nnoremap <leader>4 :action ActivateRunToolWindow<CR>
nnoremap <leader>9 :action ActivateTerminalToolWindow<CR>
